!!!
%html{:lang => 'en'}
  %head
    %meta{'http-equiv' => 'Content-Type', content: "text/html; charset=UTF-8"}
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"}
    %title project YORU

    %link{:href => "vendor/materialize-0.97.5/css/materialize.min.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "vendor/fullpage.js/jquery.fullPage.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "styles/main.css", :media => "screen,projection", :rel => "stylesheet", :type => "text/css"}
  %body
    -# %nav.white{:role => "navigation"}
    -#   .nav-wrapper.container
    -#     %a#logo-container.brand-logo.blue-grey-text.text-darken-1{href: '#'} YORU

    %main.container
      .project-yoru.section.fullpage.center-align
        %h4.light project YORU
        .row
          .col.s8.offset-s2
            %p.flow-text Tools, resources, and communities to help creators build playable visual novels.

      .aurora.section.fullpage.center-align
        %h4.light workshop Aurora
        .row
        .row
        .row
          .col.s8.offset-s2
            %a{href: 'http://aurora.project-yoru.com', target: '_blank'}
              %img{src: 'images/aurora_logo_with_brand.png', width: '256px'}
            %p.flow-text
              %a{href: 'http://aurora.project-yoru.com', target: '_blank'}
                Workshop aurora
              is the main engine and generator, helps you build a playable visual novel

      .coming-next.section.fullpage.center-align
        %h4.light Under developing...
        .row
        .row
        .row
          .col.s4.offset-s2.right-align
            %p.flow-text
              workshop
              %strong Firefly
          .col.s4
            %p.flow-text Character figures generator
        .row
          .col.s4.offset-s2.right-align
            %p.flow-text
              store
              %strong Galaxy
          .col.s4
            %p.flow-text Assets publishing
        .row
          .col.s4.offset-s2.right-align
            %p.flow-text
              community
              %strong Echo
          .col.s4
            %p.flow-text Portray and fork, worlds and stories

    / Scripts
    %script{src: "vendor/jquery-2.1.4/jquery.min.js"}
    %script{src: "vendor/materialize-0.97.5/js/materialize.min.js"}
    %script{src: "vendor/fullpage.js/jquery.fullPage.js"}
    %script{src: "scripts/main.js"}
