@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(http://7xpm8d.com2.z0.glb.qiniucdn.com/../fonts/material_icons/MaterialIcons-Regular.2b2781670b523882.eot);
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(http://7xpm8d.com2.z0.glb.qiniucdn.com/../fonts/material_icons/MaterialIcons-Regular.44cde46c68b273a7.woff2) format("woff2"), url(http://7xpm8d.com2.z0.glb.qiniucdn.com/../fonts/material_icons/MaterialIcons-Regular.59ade6045d899870.woff) format("woff"), url(http://7xpm8d.com2.z0.glb.qiniucdn.com/../fonts/material_icons/MaterialIcons-Regular.810c4d8de743b63e.ttf) format("truetype"); }
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }
